<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">E-Commerce</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
        <a *ngIf="isLoggedin()==false" class="nav-link"  routerLink="login">
          
          Giriş
        </a>
        <a *ngIf="isLoggedin()==true" class="nav-link"  (click)="logOut()">
          
            Çıkış Yap
          </a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/products/">
              
              Mağaza 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products-add-1">
              <span data-feather="file"></span>
              Ürün Ekle / Klasik Form
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/products-add-2">
              <span data-feather="shopping-cart"></span>
              Ürün Ekle / Reactive Form
            </a>
          </li>
          
        </ul>

        
        
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="nav-scroller py-1 mb-2">
            <app-category></app-category>          
          </div>
      
          <router-outlet></router-outlet>
     
    </main>
  </div>
</div>
