<form #productAddForm="ngForm" (ngSubmit)="add(productAddForm)">
    <div class="form-group">

        <input type="text" #name="ngModel" [(ngModel)]="model.name" class="form-control" name="name" id="name"
            placeholder="Ürün İsmini Giriniz." required>
        <div *ngIf="name.invalid&&name.dirty" class="alert alert-danger" style="margin-top: 1%">Ürün İsmi Girilmesi
            Zorunludur</div>

    </div>
    <div class="form-group">

            <input type="text" #price="ngModel" [(ngModel)]="model.price" class="form-control" name="price" id="price"
                placeholder="Ürün Fiyatı" required>
            <div *ngIf="price.invalid&&price.dirty" class="alert alert-danger" style="margin-top: 1%">Fiyat Girilmesi
                Zorunludur</div>
    
        </div>


    <div class="form-group">

            <select class="form-control" #categoryID="ngModel" [(ngModel)]="model.categoryID" name="categoryID" id="categoryID" required>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
            <div *ngIf="categoryID.invalid&&categoryID.touched" class="alert alert-danger" style="margin-top: 1%">Lütfen Ürün
                Kategorisini Seçiniz</div>
    
        </div>

    <div class="form-group">

        <input type="text" #description="ngModel" [(ngModel)]="model.description" class="form-control"
            name="description" id="description" placeholder="Ürün Açıklaması" required>
        <div *ngIf="description.invalid&&description.dirty" class="alert alert-danger" style="margin-top: 1%">Ürün
            Açıklaması Girilmesi Zorunludur</div>

    </div>
    <div class="form-group">

        <input type="text" #url="ngModel" [(ngModel)]="model.url" class="form-control" name="url"
            id="url" placeholder="Ürün Resmi" required>
        <div *ngIf="url.invalid&&url.dirty" class="alert alert-danger" style="margin-top: 1%">Ürün Resmi
            Zorunludur</div>

    </div>
    
    
<button type="submit" class="btn btn-primary" [disabled]="productAddForm.invalid">Ürün Ekle</button>

</form>